PORT=<enter_port>
FALLBACK_HASH=<enter_valid_argon2_hash>
JWT_SECRET=<enter_secure_secret>
DATABASE_URL=<enter_pooled_db_connection_string>
DIRECT_URL=<enter_unpooled_db_connection_string>
TEST_DATABASE_URL=<enter_test_db_connection_string>